
html {
  min-height: 100%;
  scroll-behavior: smooth;
  background: var(--color-gray-cloud);
  // font-size: calc((100 / var(--mobile-design-width)) * 1vw);
  font-size: calc((100 / var(--design-width)) * 1vw);
  -webkit-tap-highlight-color: var(--color-black-charcoal--7);

  @include is-desktop {
    font-size: calc(((100 / var(--design-width)) * var(--design-max-width) / 16) * 0.01rem);
  }

  // @include is-desktop {
  //   font-size: calc((100 / var(--desktop-design-width)) * 1vw);
  // }

  // @include is-ultrawide {
  //   font-size: calc(((100 / var(--desktop-design-width)) * var(--ultrawide-design-width) / 16) * 0.01rem);
  // }
}

body {
  // max-width: var(--container-max-width);
  overflow: hidden auto;
  scroll-behavior: smooth;
  background: var(--color-gray-cloud);
  color: var(--color-black-charcoal);
  font-family: var(--font-default);
  font-size: 11rem;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  text-size-adjust: none;

  * {
    scrollbar-width: none;
  }

  ::selection {
    background: var(--color-black-charcoal);
    color: var(--color-white-snow);
  }
}
