
html {
  scroll-behavior: smooth;
  font-size: calc((100 / var(--mobile-design-width)) * 1vw);

  @include isDesktop {
    font-size: calc((100 / var(--desktop-design-width)) * 1vw);
  }

  @include isUltrawide {
    font-size: calc(((100 / var(--desktop-design-width)) * var(--ultrawide-breakpoint) / 16) * 0.01rem);
  }
}

body {
  background: var(--color-navy);
  color: var(--color-white);
  font-family: 'Aeonik', sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 150%;
}
