
// @font-face {
//   font-display: swap;
//   font-family: 'Aeonik';
//   font-style: normal;
//   font-weight: 100 1000;
//   src: url('src/assets/fonts/aeonik-variable-roman.woff2') format('woff2');
// }

// @font-face {
//   font-display: swap;
//   font-family: 'Aeonik';
//   font-style: italic;
//   font-weight: 100 1000;
//   src: url('src/assets/fonts/aeonik-variable-italic.woff2') format('woff2');
// }
