
@mixin isMobile {
  @media (width < 768px) {
    @content;
  }
}

@mixin isDesktop {
  @media (width >= 768px) {
    @content;
  }
}

@mixin isUltrawide {
  @media (width >= 2560px) {
    @content;
  }
}
