
:root {
  --mobile-design-width: 440;
  --desktop-design-width: 1440;
  --ultrawide-breakpoint: 2560;

  --color-gray: #EEF2F6;
  --color-gray-dark: #D3DFE8;
  --color-navy: #0b1423;
  --color-navy-border: #1e2733ad;
  --color-navy-light: #1119276b; // lighten(var(--color-navy-rgba), 5%);
  --color-red: #FF3D00;
  --color-white: #F8FAFB;

  --color-gray-rgb: 238, 242, 246;
  --color-gray-dark-rgb: 211, 223, 232;
  --color-navy-rgb: 11, 20, 35;
  --color-red-rgb: 255, 61, 0;
  --color-white-rgb: 248, 250, 251;
}
