---
import 'src/styles/styles.scss'
import Favicons from 'src/astro/core/favicons.astro'
import Fonts from 'src/astro/core/fonts.astro'
import Footer from 'src/astro/layout/footer.astro'

const { pageId, pageTheme, pageTitle, subpageId } = Astro.props
---

<script>
  import { initScripts } from 'src/scripts/scripts'

  document.addEventListener('DOMContentLoaded', async () => {
    await initScripts()
  })
</script>

<html class="preload" data-page={pageId} data-subpage={subpageId} data-theme={pageTheme} lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Ccrch" />
    <meta name="description" content="Your stuff for good." />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <Favicons />
    <Fonts />
    <style>
      .preload {
        opacity: 0;
      }
    </style>
    <title>{pageTitle} − miako</title>
  </head>
  <body>
    <div class="app">
      <slot />
      <Footer />
      <label class="app__warning"><input type="checkbox" />Please watch in portrait mode.</label>
    </div>
  </body>
</html>
