---
import Template from 'src/astro/core/template.astro'
import Unicorn from 'src/astro/components/unicorn.astro'
import { PageProps } from 'src/scripts/types'

export const pageProps: PageProps = {
  pageId: 'index',
  pageTheme: 'white-snow',
  pageTitle: 'Hi!',
}

const now = new Date()
const date = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}${String(now.getDate()).padStart(2, '0')}-${String(now.getHours()).padStart(2, '0')}${String(now.getMinutes()).padStart(2, '0')}`
const url = (url) => `${import.meta.env.BASE_URL}${url}`
---

<Template {...pageProps}>
  <a class="app__index-button" href={url('home/hi')}>Home</a>
  <div class="app__index-unicorn">
    <Unicorn name="og" />
  </div>
  <p class="app__index-version">{date}</p>
</Template>
