---
import Template from 'src/astro/core/template.astro'
import Icon from 'src/astro/components/icon.astro'
import UnicornSvg from 'src/assets/images/unicorn.svg'
---

<Template pageId="Hi!">
  <section>Hi! − <a href={`${import.meta.env.BASE_URL}home/`}>link</a></section>
  <UnicornSvg />
  <Icon name="heart" />
</Template>
