---
import Template from 'src/astro/core/template.astro'
import Header from 'src/astro/layout/header.astro'
import Subnavigation from 'src/astro/layout/subnavigation.astro'
import Title from 'src/astro/components/title.astro'
import Unicorn from 'src/astro/components/unicorn.astro'
import { PageProps } from 'src/scripts/types'

export const pageProps: PageProps = {
  pageId: 'profile',
  pageTheme: 'green-meadow',
  pageTitle: 'Profile',
  subpageId: 7,
}
---

<Template {...pageProps}>
  <Header headline="Profile" text="Feedback" />
  <Subnavigation pageId={pageProps.pageId} />
  <Title headline="Give us your feedback" />
  <div class="unicorn">
    <Unicorn name="og" />
  </div>
</Template>
