---
import Template from 'src/astro/core/template.astro'
import Header from 'src/astro/layout/header.astro'
import Subnavigation from 'src/astro/layout/subnavigation.astro'
import Title from 'src/astro/components/title.astro'
import Unicorn from 'src/astro/components/unicorn.astro'
import { PageProps } from 'src/scripts/types'

export const pageProps: PageProps = {
  pageId: 'search',
  pageTheme: 'yellow-lemon',
  pageTitle: 'Search & buy!',
  subpageId: 3,
}
---

<Template pageId={pageProps.pageId} pageTheme={pageProps.pageTheme} subpageId={pageProps.subpageId}>
  <Header hasSearch headline="Search & buy!" searchPlaceholder="Find something cool & get it" />
  <Subnavigation pageId={pageProps.pageId} />
  <Title headline="Popular stuff" />
  <div class="unicorn">
    <Unicorn name="og" />
  </div>
</Template>
